{% extends 'core/base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}
{% block contenido %}
<body>
    <div class="alert alert-primary" role="alert">
      <table class="table table-bordered">
        <thead>
          <br><br><br><br><br><br>
          <tr>
            <th scope="row" colspan="3" class="text-center">CARRITO VACÍO</th>
          </tr>
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CANTIDAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ninguno.</td>
            <td>0</td>
            <td>0
              <a href="" class="badge btn btn-dark badge-dark">+</a>
              <a href="" class="badge btn btn-dark badge-dark">-</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
        </tr>
        <tr>
          <th scope="row">Total:</th>
          <td colspan="2">0</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div class="row text-center">
    <div class="col-6"><a href="#" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
  </div>

</body>
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajes.js' %}"></script>
{% endblock %}